body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: Arial;
    padding: 0;
    margin: 0;
    /* position: relative; */
}

.balloon{
    width: 100px;
    height: 200px;
    background-size: cover;
    position: absolute;
    top:80vh;
    background-position: center;
    background-repeat: no-repeat;
}
.button{
    display:flex;
}
.balloon-red{
    background-image: url("../images/balloon-red.png");
   
}
.balloon-yellow{
    background-image: url("../images/balloon-yellow.png");
   
}
.balloon-blue{
    background-image: url("../images/balloon-blue.png");
   
}
.balloon-fiolet{
    background-image: url("../images/balloon-fiolet.png");
   
}
.balloon-green{
    background-image: url("../images/balloon-green.png");
   
}
.background-shadow{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px 100px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    border-radius: 10px;
}
.win{
    display: none;
}
.button{
    display: flex;
}

.score-board{
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efefef;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 150px);
    z-index: 100;

}